footer
    .section_in
        .contacts 
            .contacts__list 
                .contacts__item 
                    img(src="i/icons/i-map.svg", alt="")
                    div
                        .contacts__name Адрес:
                        .contacts__txt г. Ростов-на-Дону, ул. <br> Лермонтовская, д. 233 А.
                
                .contacts__item 
                    img(src="i/icons/i-tel.svg", alt="")
                    div
                        .contacts__name Телефон:
                        .contacts__txt 
                            a(href="tel:+78632066888") 8 (863) 20-66-888 <br>
                            a(href="tel:+79662066888") 8 (966) 20-66-888
                .contacts__item 
                    img(src="i/icons/i-mail.svg", alt="")
                    div
                        .contacts__name Почта:
                        .contacts__txt 
                            a(href="mailto:89662066888@mail.ru") 89662066888@mail.ru
                .contacts__item 
                    img(src="i/icons/i-teleg-orange.svg", alt="")
                    div
                        .contacts__name Мессенджеры:
                        .contacts__social 
                            a(href="#") 
                                img(src="i/icons/i-telega-footer.svg", alt="")
                            a(href="#")
                                img(src="i/icons/i-whatsapp-footer.svg", alt="")
        .contacts__footer
            .contacts__copyright © 2022 Все права защищены
            .contacts__politica
                a(href="#") Политика конфиденциальности 
            .contacts__arkada 
                a(href="#") Разработано arkada-web.ru
                img(src="i/icons/i-arkada-logo.svg", alt="")

                                    

