.main{
    background-image: url(../i/main-banner.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5.8rem;
    &__btn{
        // margin-bottom: 28.2rem;
        margin-top: 6rem;
        width: 31.7rem;
        height: 7.5rem;
    }
}

.advantages-block{
    margin-bottom: 14rem;
    &__item{
        width: 23%;
    }
    &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__img{
        margin-bottom: 2.5rem;
    }
    &__item-title{
        margin-bottom: 2.5rem;
        font-size: 2.2rem;
        font-family: $font_2;

    }
    &__item-text{
        font-size: 1.8rem;
        color: $gray;
    }
}

.offer-block{
    &__row{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__col{
        width: 100%;
    }
    &__button{
        width: 27.9rem;
        height: 7.5rem;
    }
    &__text{
        width: 90%;
    }
    &__text p{
        margin-bottom: 2rem;
    }
    &__contacts{
        margin-top: 4.3rem;
    }
    &__contacts-item{
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
    }
    &__contacts-item img{
        margin-right: 2.5rem;
    }
    &__contacts-item a{
        color: $color3; 
    }
}

.discounts{
    margin-top: 15rem;
    background-color: #414141;
    color: $white;
    height: 64.4rem;
    &__row{
        display: flex;
    }
    &__col{
        width: 100%;
    }
    &__title{
        padding-top: 11.6rem;
        color: $white !important;
    }
    &__button{
        width: 27.9rem;
        height: 7.5rem;
    }
    p{

        width: 85%;
        padding-top: 4rem;
        font-family: $font_3;
    }
    &__button{
        margin-top: 5.2rem;
    }
    &__discounts__img{}
    &__discounts__img img{
        width: 100%;
    }
}
.priceList{
    margin-top: 32rem;
    &__list{
        margin-top: 7rem;
    }
    &__item{
        font-size: 2rem;
        align-items: center;
        height: 6.8rem;
        padding-left: 15rem;
        padding-right: 15rem;
        background-color: #F4F4F4;;
        display: flex;
        justify-content: space-between;
    }

}